* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: #EDF0F2;
}

.container {
    padding: 2em 0em 0em 2em;
}

.form {
    padding-top: 1em;
}

.input-config {
    padding: 0.3em 10em 0.3em 0.5em;
    font-size: 14px;
}


.botao-input {
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.116);
    border: 1px solid rgba(0, 0, 0, 0.295);
}

.botao {
    background-color: #43BC70;
    padding: 0.4em 0.6em;
    color: #FFFF;
    transition-duration: 0.3s;
}

.botao:hover {
    background-color: #3e965e;
}

.sub-titulo {
    padding: 1em 0em;
}

.botao-remover {
    margin-left: 0.5em;
    padding: 0.4em 0.4em;
    border: none;
    color: red;
    font-size: 16px;
    background-color: transparent;
    transition-duration: 0.5s;
}

.botao-remover:hover {
    background-color: #d0d2d4;
    border-radius: 6px;
}

.lista-tarefas {
    padding-left: 1.5em;
}

@media (max-width: 450px) {
    .input-config {
        padding: 0.7em 4em 0.7em 0.8em;
    }

    .botao {
        padding: 0.8em 0.4em;
    }

    body {
        display: flex;
        justify-content: center;
    }

    .container {
        padding-right: 3em;
    }
}

@media (max-width: 417px) {
    .container {
        padding-left: 2em;
    }

    .input-config {
        padding: 0.7em 0em 0.7em 0.8em;
    }

    .title {
        font-size: 1.5em;
    }

    .botao {
        margin-right: 0px;
    }
}

@media (max-width: 347px) {
    .form {
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 1em;
    }

    .text {
        font-size: 19px;
    }

    .item-add {
        font-size: 18px;
    }

}